.body {
    background-color:
        #f8f2e9;
}

html {
    scroll-behavior: smooth;
}

.boss {
    position: fixed;
    z-index: 1000;
    top: 0;
}

.navigation {
    background-color: #031640;
    height: 165px;
    width: 1500px;
    display: flex;
}


.logo {
    width: 167px;
    height: 160px;
    padding-top: 1px;
    padding-left: 9px;

}

.title {
    color: #f8f2e9;
    font-size: 32px;
    margin-left: 0%;
    margin-top: 1%;
    height: 10%;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    margin-bottom: 2px;
}

.nav {
    background-color: #031640;
    display: flex;
}

.list {
    display: flex;
    color: #f8f2e9a9;
    list-style: none;
    margin-left: 11%;
    margin-top: -5%;
    font-family: sans-serif;
    font-size: small;
    padding: 10px 18px;
}

.home {
    color: #f8f2e9;
    text-decoration: none;
    font-size: larger;
    margin-left: 5%;
    padding: 13px;
    border-style: none outset none none;
    border-color: #ffffff;
    border-width: 0.25px;
}

.uu {
    color: #f8f2e9;
    text-decoration: none;
    font-size: larger;
    margin-left: -1%;
    margin-right: 1%;
    padding: 13px;
    border-style: none outset none none;
    border-color: hsl(334, 24%, 94%);
    border-width: thin;

}

a:hover {
    color: rgba(231, 177, 27, 0.879);

}

.a {
    background-image: url(/images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(241, 247, 247);
    width: 1380px;
    height: 550px;
    padding-left: 50px;
    padding-top: 20%;
}

.b {
    color: #bbb9b7;
    font-size: 40px;
    margin-top: 1%;
    padding-top: 20%;
    font-family: sans-serif;
    font-weight: lighter;
}

.c {
    color: #bbb9b7;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 0%;
    margin-top: -1%;
    margin-left: 3%;
}

.section {
    display: flex;
    margin-top: 2%;
    justify-content: space-between;

}

.image1 {
    width: 325px;
    height: 214px;
}

.image2 {
    width: 325px;
    height: 214px;
}

.image3 {
    width: 325px;
    height: 214px;
}

.image4 {
    width: 325px;
    height: 214px;
}

.image1:hover {
    background-color: rgb(158, 158, 152);
    opacity: 60%;
}

.image2:hover {
    background-color: rgb(158, 158, 152);
    opacity: 60%;
}

.image3:hover {
    background-color: rgb(158, 158, 152);
    opacity: 60%;
}

.image4:hover {
    background-color: rgb(158, 158, 152);
    opacity: 60%;
}

.head1 {
    color: #ffffff;
    text-decoration: none;
    font-weight: lighter;
}

.omg {
    background-color: #031640;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 20px;
}

.head1:hover {
    background-color: rgb(158, 158, 152);
    opacity: 60%;
}

.heado {
    font-family: sans-serif;
    color: #000000;
    margin-left: 1%;
}

.news1 {
    width: 325px;
    height: 214px;
}

.newss {
    display: flex;
    justify-content: space-between;
}

.news1:hover {
    background-color: rgb(158, 158, 152);
    opacity: 60%;

}

.last {

    width: 25%;

}

.last1 {
    padding-left: 10%;
}

.text {
    font-family: sans-serif;
    color: #000000;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    font-weight: lighter;

}

.research1 {
    display: flex;
    margin-left: 100px;

}

.res {
    width: 350px;
    height: 300px;
    background-color: #ffffff;
    border: 2px solid rgb(67, 67, 67);
    border-radius: 5px;
    padding: 5px;
    margin-right: 45px;
    margin-left: 10px;


}

.mam {
    background-color: #d7d3ce;
    border: 1px;
    border-color: rgb(67, 67, 67);
    border-style: solid none solid none;
    margin-left: 0%;

}

.idk {
    display: flex;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.aaaa {

    padding: 5px;
    margin-right: 45px;
    margin-left: 30px;
    width: 20%;

}

.bbbb {

    padding: 5px;
    margin-right: 45px;
    margin-left: 10px;
    width: 20%;

}

.cccc {

    padding: 5px;
    margin-right: 45px;
    margin-left: 10px;
    width: 20%;


}

.al1 {
    background-color: #031640;
    padding-top: 2%;
    border-radius: 10%;
}

.al2 {


    border-width: 2px;
    border-style: solid none solid none;
    border-color: #fffefb;
    margin-left: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 35%;

}

.al3 {
    color: #ffffff;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

.al4 {
    display: flex;
    margin-top: 4%;
}

.al5 {
    width: 300px;
    height: 400px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 1%;
}

.alt6 {
    padding-left: 100px;
    padding-bottom: 30px;
    padding-right: 40px;
}

.al7 {
    color: #ffffff;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: justify;
}

.al8 {
    padding-right: 5%;


}

.career1 {
    width: 80%;
    height: 60%;
    border-style: solid;
    border-color: #000000;
    border-radius: 5px;
    border-width: 1px;
}

.c2 {
    padding-right: 50px;
    padding-left: 200px;
    padding-top: 20px;
    background-color: rgb(233, 232, 232);
}

.c3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, 3600%);
    background-color: #031640;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;


}

.image-container {
    position: relative;
    display: inline-block;
}

.c3:hover {
    color: burlywood;
}

.ss {

    font-weight: lighter;

}

.d1 {
    background-color: #031640;
}

.d2 {
    font-family: sans-serif;
    color: #ffffff;
    margin-left: 1%;
    padding-top: 2%;
    font-weight: lighter;

}

.d3 {
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 3%;
    padding-bottom: 5%;
}

.d4 {
    display: flex;
    justify-content: space-around;
    margin-right: 50%;
    margin-left: 2%;
}

.d5 {
    list-style: none;
    color: #d1cece;
    text-align: justify;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: small;
    margin-top: 5%;

}

.d5 li {
    margin-bottom: 14px;
    margin-left: -7%;
}

.d5 :hover {
    color: #ffffff;
}

.oo {
    color: #ffffff;
    font-family: sans-serif;
    font-weight: lighter;
}

